@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,900;0,1000;1,800;1,900;1,1000&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.searchbtn{
  background:linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
}
.banner{
  background-image:url('/../assets/banner.png');
  background-repeat:none;
  background-size:cover;
  
}
.learnbtn{
  box-shadow:0px 1px 2px rgba(56, 56, 56, 0.08);
}
.join{
  background:linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
}
.banner2{
  background-image:url('/../assets/banner2.png');
  background-repeat: none;
  background-size: cover;
}
.banner3{
  background-image:url('/../assets/banner3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner4{
  background-image:url('/../assets/banner4.png');
  background-repeat: no-repeat;
  background-size:cover;
}
.form{
  box-shadow:0px 1px 2px rgba(56, 56, 56, 0.25);
}
.btn{
  background:linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
}
.heart{
  box-shadow:0px 1px 2px rgba(56, 56, 56, 0.08);
}
.anim{
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}


@keyframes growDown {
  0% {
    transform: scaleY(0)
}
80% {
    transform: scaleY(1.1)
}
100% {
    transform: scaleY(1)
}
}
.ant-pagination .ant-pagination-item-active{
  background-color:#EFF2F4 !important;
  border:1px solid #DEE2E7 !important;
  color:#8B96A5 !important;
  border-radius:none !important;
}
.ant-pagination .ant-pagination-item {
background-color:white !important;
border:1px solid #DEE2E7 !important;
border-radius: none !important;
}
.ant-pagination .ant-pagination-item-active a{
  color: black !important;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link{
  background:white !important;
  border:1px solid #DEE2E7 !important;
}
.ant-pagination .ant-pagination-next .ant-pagination-item-link{
  background:white !important;
  border:1px solid #DEE2E7 !important;
}